<footer class="footer">
    <p>&copy; 2023 Portfolio. All rights reserved. | Designed by <a href="https://www.linkedin.com/in/deepali-verma-2b91b7266/" target="_blank">Deepali Verma</a></p>
  </footer>
  