<footer class="footer">
    <p>&copy; 2023 Portfolio. All rights reserved. | Designed by <a href="https://www.linkedin.com/in/jatin-budhiraja-5755521a2/" target="_blank">Jatin Budhiraja</a></p>
  </footer>
  