<html>
    <head>
        <title>About Me</title> 
        <link rel = "icon" href = "assets/J.png" type = "image/x-icon"> 
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
      </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <section id="about" class="about-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <img src="assets/jatin_pic.jpg" alt="Profile Image" class="profile-image">
                        <br><br>
               
                </div>
                <br><br><br>
            <h2>About Me</h2>
            <br><br>
           
            <div class="col-sm-5">
                <p class="about-description" >I am <b>JATIN BUDHIRAJA</b>, n experienced Data Analyst with a strong background in Python, 
                    data visualization, and SQL. He has a proven track record of extracting valuable insights from complex datasets and possesses 
                    excellent problem-solving abilities.
                     Currently pursuing an Advanced Diploma in Software Engineering Technology,I've combined cutting-edge technology with a passion for innovation, ensuring that every endeavor pushes the boundaries of what's possible.
                    </p>
                        <a href="assets/Jatin_Budhiraja_Resume.pdf" target="_blank" class="resume-link">Download Resume</a>
                        </div>
                        </div>
                    <br><br>
            </div>
                <div class="sub-sections">
                    <div class="sub-section">
                    <h3>My Background</h3>
                    <p>I've been into the software world for long time! Here you find a list with my
                        educational background. 
                    </p>
                    <ul>
                        <li>
                        <span>Software Engeineering Technology</span>
                        <p>Centennial College, 2023 - currently</p>
                        </li>
                        <li>
                        <span>Data Analyst</span>
                        <p>MSCI 2020 - 2023</p>
                        </li>
                        <li>
                        <span>Bachelors of Technology</span>
                        <p>July 2016-June 2020</p>
                        </li>
                    </ul>
                    </div>
                    <div class="sub-section">
                    <h3>Services</h3>
                    <p>Let me help you with your software needs. Here you'll find a list of
                        services provided by my in order to accomplish your software goals.
                    </p>
                    <ul>
                        <li>
                        <span>Data Analyst</span>
                        </li>
                        <li>
                        <span>Backend developer</span>
                        </li>
                        <li>
                        <span>Data Analysis</span>
                        </li>
                        <li>
                        <span>Development Troubleshooting</span>
                        </li>
                    </ul>
                    </div>
                    <div class="sub-section">
                    <h3>Skills</h3>
                    <p>In my resume, you'll explore my skills and expertise in various programming languages and technologies.</p>
                    <ul>
                        <li>
                        <span>Agile Methodology</span>
                        </li>
                        <li>
                        <span>Object-oriented programming</span>
                        </li>
                        <li>
                        <span>Back-end Development</span>
                        </li>
                        <li>
                        <span>Articulateness</span>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
            </div>
           
        </section>
        <%- include('partials/footer.ejs') %>
    </body>
    
      
    
      
</body>
</html>
