<html>
    <head>
        <title>Contact ME</title> 
        <link rel = "icon" href = "assets/J.png" type = "image/x-icon">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
      </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <div class="contact-container">
          <!---  <h2>Contact Me</h2>-->
          <br><br>
            <div class="contact-info">
            <div class="contact-panel">
                <h2>Contact Me</h2>
                <h3>Contact Information</h3>
               
                <p><strong>Name:</strong> Jatin Budhiraja</p>
                <p><strong>Email:</strong> jbudhiraja98@gmail.com</p>
                <p><strong>Phone:</strong>(+1)431-990-2797</p>
            </div>
            <div class="contact-form">
                <h3>Send a Message</h3>
                <form>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" name="firstName" required>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName" required>
                </div>
                <div class="form-group">
                    <label for="contactNumber">Contact Number</label>
                    <input type="tel" id="contactNumber" name="contactNumber" required>
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <input id="message" name="message" required>
                </div>
                <button type="submit"><a href="../home" class="send-message-link">Send Message</a></button>
                </form>
            </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </body>
</html>

