<html>
    <head>
        <title>Jatin Budhiraja</title> 
        <link rel = "icon" href = "assets/J.png" type = "image/x-icon">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
      </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <section id="home" class="home-section">
            <div class="container">
            <h1>Welcome to My Portfolio</h1>
            <p class="mission-statement">My mission is to leverage my expertise in data analysis and problem-solving to empower businesses to make data-driven <br> choices that lead to growth and efficiency. I am dedicated to bridging the gap between technical analysis and non-technical stakeholders,<br> ensuring that data insights  are effectively communicated and understood at all levels of an organization.<br> to develop high-quality software solutions that solve real-world problems,<br> empower businesses, and positively impact people's lives.</p>
            <div class="columns">
                <div class="column">
                    <h2>About me</h2>
                    <p>On the 'About Me' section!, you'll get to know me better and 
                        learn about my background, skills, and passion for software 
                        development. I'll share my journey as a computer engineer 
                        and highlight my experiences and expertise in creating 
                        innovative solutions.</p>
                    <a href="../about" class="btn">About Me</a>
                </div>
                <div class="separator"></div>
                <div class="column">
                    <h2>Projects</h2>
                    <p>Welcome to the 'Projects' section, where you can explore a selection of the 
                        innovative projects. This portfolio offers you a sneak peek into my world of
                         turning concepts into tangible, real-world solutions. Dive in and witness the manifestation of ideas into 
                         reality through my work.</p>
                    <a href="../projects/" class="btn">Projects I've worked on</a>
                </div>
            
                <div class="separator"></div>
         
                <div class="column">
                    <h2>Services</h2>
                    <p>Curious about the 'Services' I offer? In this section, 
                        you'll find details about the software development services 
                        I provide. Whether you need assistance with custom application 
                        development, software consulting, or implementation of 
                        cutting-edge technologies, I'm here to deliver tailored 
                        solutions to meet your unique requirements.</p>
                    <a href="../services/" class="btn">Services I Offer</a>
                </div>
                <div class="separator"></div>
                <div class="column">
                    <h2>Contact</h2>
                    <p>Here You can contact me!! Feel free to send me message !!
                        I am active and you can expect reply within 48 hours
                    </p>
                    <a href="../contact/" class="btn">Contact Me</a>
                </div>
            </div>
            </div>
            </div>
        </section>
        <%- include('partials/footer.ejs') %>
    </body>
</html>

  


