<html>
    <head>
        <title>My Projects</title> 
        <link rel = "icon" href = "assets/J.png" type = "image/x-icon">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
      </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <section id="project" class="project-section">
            <div class="container">
            <h2>Projects</h2> 
                <p class="project-description">I worked on some projects to upskill myself\!
                </p>
                <div class="sub-sections">
                    <div class="sub-section">
                    <h3>Automation of Extraction of Carbon data through pulicaly</h3>
                    <p>•	Design API to automate the process for identifying carbon emissions targets which releases publicly like news or through websites
                    </p>

                    </div>
                    <div class="sub-section">
                        <h3>Power bi Dashboard</h3>
                        <p>•Created various visuals in Power BI to track and analyze the document processing workflow, from initiation to publication, along with the associated analyst work hours.
                        </p>
                    </div>
                    <div class="sub-section">
                        <h3>Online Book store</h3>
                        <p>This project is mainly developed for bookstores and shops to digitize the book-purchasing process. The aim is to create 
                            an efficient and reliable online bookselling platform. It also records sold and stock books automatically in the database.</p>
                    </div>
                </div>
            </div>
        </section>
        <%- include('partials/footer.ejs') %>
    </body>
</html>