<html>
    <head>
        <title>My Services</title> 
        <link rel = "icon" href = "assets/J.png" type = "image/x-icon">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
      </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <section class="services-container">
            <h2>Services</h2>
            <div class="service-card">
            <img src="../../assets/OIP.jpeg" alt="Service 1">    
            <h3>Full stack Development</h3>
            <p>I'm a passionate Full Stack Developer with a knack for turning ideas into digital realities.
                 My expertise spans both front-end and back-end development, allowing me to create seamless,
                  end-to-end web applications. With a strong command of technologies like Java, HTML,CSS, JavaScript and
                   databases such as MongoDB and MS-SQL, I thrive on crafting dynamic and user-friendly solutions.</p>
            </div>
            <div class="service-card">
            <img src="../../assets/OIP.jpeg" alt="Service 2">
            <h3>Web Development</h3>
            <p>With my custom website development service, I deliver professional 
                solutions to establish a strong online presence. I specialize in creating 
                tailored websites that align with your business objectives and target audience. 
                I utilize industry-standard practices and modern technologies to craft 
                responsive, user-friendly websites that reflect your brand identity and 
                captivate your visitors.</p>
            </div>
            <div class="service-card">
            <img src="../../assets/OIP.jpeg" alt="Service 3">
            <h3>Data Analysis</h3>
            <p>My data analysis solutions empower businesses to leverage the power of data 
                for informed decision-making. I offer professional data analysis services, 
                helping you extract meaningful insights and trends from your data. 
                My approach combines rigorous analysis techniques with advanced tools to 
                provide you with valuable information for strategic planning and improved 
                business outcomes.</p>
            </div>
            <div class="service-card">
                <img src="../../assets/OIP.jpeg" alt="Service 3">
                <h3>Software Troubleshooting</h3>
                <p>With my development troubleshooting service, I assist in resolving 
                    issues and challenges that arise during the software development lifecycle. 
                    I specialize in identifying and addressing bugs, performance bottlenecks, 
                    compatibility issues, and other technical hurdles. By employing 
                    systematic debugging techniques and best practices, I aim to optimize 
                    your development process, ensuring smoother and more reliable software delivery.</p>
            </div>
        </section>
    <%- include('partials/footer.ejs') %>
    </body>
</html>